<!-- The cdk is only important as a dependency of angular material.
You don't have to create your components with cdk. So in our own components, we will use angular material.
After installing angular material you must import BrowserAnimationsModule in app.module.ts file and add it to imports array.

The next step is to import the component modules you are planning to use them.
Important: In angular material every component has it's own module which you need to import that module to be able to use that
 component.
The reason for doing that is simple. By putting everything in it's own module, your code can be optimized and be made as small
as possible. You're not importing all components of angular material by default but only what you need. Which this means, the
code you ship to the user in the end is also ONLY what your app needs and therefore the app would be as small as possible.
So one thing you can do in order to not put all those imports into your app.module.ts file and therefore get a really fat and
big app.module.ts file , is that you can create a separate module that you simply import that new module into the app.module.ts
file. So in that new module you manage all of the material module imports and exports.

So next to the app.module.ts file, we create material.module.ts file and in the class of that file we manage all of the material
imports and also exports to make it available outside of that module.
Also for making a class into a module we need to use @NgModule() decorator on that class and also import @NgModule from
'@angular/core'

Also we need to import the MaterialModule into the app.module.ts file. So by doing this, the functionality is outsourced.
Because we want to use those modules in components that we would have in app and we know that the components of app belong to
app.module.ts file.
So in exports array of material.module , we need to export all of the imported material modules in imports array.

So the idea was we can manage our material imports in a separate file named material.module.ts but still have access to them
in entire app.

For including a theme, we need to add @import '@angular/material/prebuilt-themes/<the theme>.css';
to styles.scss file. Because angular material componenets use a theme. Angular material ships with a couple of pre-build themes.
You can see those themes by going to node_modules/@angular/material/prebuilt-themes .
By adding @import... in styles.scss file, all of the angular material components will automatically use that color combination of
that imported theme.

Also you can install hammer.js as a dependency, in order to support gestures on mobile devices like for example sliding with
a finger. hammer.js is used by angular material behind the scenes. So npm install --save hammerjs
That command will install hammerjs but in order to use it, we need to first include it in our bundle.
For including that library in bundle file, we go to main.ts file and at the VERY TOP, we say import 'hammerjs'; and this will
pull the dependency into our final bundle. So that library would available in the code we ship to the user.

Now we want to use angular material icons. So add this cdn link:
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
to index.html file. in the <head> .

You have to add the theme by adding src/my-theme.scss  to your styles[]  array in angular.json file.

6. Our First Angular Material Component - The Button:
Important: For every material design component you want to use, we have to import a module in material.module.ts file. You could
 do that in app.module.ts too, but we want to keep all of our component related imports in that extra file which is
 material.module.ts file.
So now you need to add MatButtonModule in material.module and also add it to imports and exports array. Why exports?
Because we are using material.module in another module which is app.module where we import the material.module .

Remember: The color property we used on button is not available on every material component.

In the names of material icons are all with underscores instead of spaces.

When creating a component or ... in cli and then gets the 'More than one module matches. ...' error, because we have more than
one module. You can fix that by saying: --module app.module
So like: ng g c auth/signup --module app.module

Important: The Routes type expects to get an ARRAY of routes. So any variable or prop which is type of Routes, must be an
 ARRAY of routes and not just a primitive value. That is why we we assign an ARRAY to routes variable in app-routing.module
 file.

We must import the class of app-routing.module in app.module.ts file. So I added exports array in object of @NgModule() of
AppRoutingModule() to export the routes and then add AppRoutingModule class to imports array of app.module.ts file.
By doing this, we got routes which are added to application.

Important: Now if you see your app, you see nothing. Because currently we got no place for render the routes that we are
 visiting in browser. So in app.component.html which currently is empty, we should add the <router-outlet> component.
 <router-outlet> is a directive which is provided by '@angular/router' package which we are importing that package in
 app-routing.module.ts file and that special marker or directive tells angular where to render the content of currently loaded
 component in each path. So when we are in x path, the component which is responsible for that route would be displayed in
 <router-outlet> which is in app.component.html file or in advanced usages in other components.

Important: So everything you see on in each page of the website is coming from app.component.html . The static stuff like
 menu or other stuff which you see no matter you are on which route, are statically added to app.component.html file either
 via their selector like <app-signup></app-signup> (if it is a component) or via writing the html itself.
-->
<!-- 9. Working on The Signup Form:
We don't use action attr on <form> because we would handle the submission of forms differently in angular, usually.
For adding form <input>s you can of course write <input type=""> and ... . But with that, you get inputs that aren't in
material way. In angular material site we got input and form field components. What's the difference?

First let's try input:
<mat-form-field> is like a wrapper on some form fields. Also don't forget to import matFormFieldModule and matInputModule
in material.module.ts file.

Now if you put 2 inputs which are wrapped inside <mat-form-field> , they will sit next to each other. But in this case
we want to have them under each other. So we can use another package to control the layout.

10. Flexbox - A Quick Refresher:
We can use angular flex-layout package.
fxLayout directive can be added to any container element to control how the child elements of that container should be positioned.
The child component gets fxFlex to takes all of the available space and evenly distributed across all child elements also you can
make that available space to distribute not evenly or not equally.

11. Controlling the Layout with @angularflex-layout:
npm install @angular/flex-layout --save
Important: When you added a new package, rerun ng serve or other build commands.
After doing the prior command, we need to import {FlexLayoutModule} to NgModule() to unlock the stuff that are in the new installed
package which is @angularflex-layout in app.module.ts file and then add the FlexLayoutModule to imports array of app.module.ts
file. Now you can start using that package.
Remember we didn't add this package to material.module.ts file because that package is a separate package than material so it
needed to add it to app.module which is a general module and also don't forget at the end we are adding material.module.ts
to app.module.ts file.

Now we need to make sure that our form fields which their parent have fxLayout="column" , don't take the whole width of their
container. So we can define some width for <form> itself or define a section parent for <form> and define some width for
it because <form> is a block element by default and will get all of the width of it's <div> or <section> parent.

You can add fxLayoutAlign to the same element(container) that you added fxLayout on it.

You can directly target the component selectors of material design components in scss or css file like any other HTML element.
So like: .mat-form-field {...}

12. Adding & Configuring the Submit Button:
The <mat-form-field> with their <input>s inside of them, work with both reactive approach and TD approach. So you can use
either of those two.
If you add a button in that <form> when you click that button, it would submit the form with full reload which we don't want
it. SO WE MUST CONTROL THAT FORM THROUGH ANGULAR. Also remember:
Learn: Adding type="submit" for the buttons which are for submitting the forms is a good practice.
Important: Remember: By default the form which is not initialized with the reactive approach, angular uses the TD approach IF
 we add a special import at app.module.ts file which is FormsModule. So we can import it on top of FlexLayoutModule.
 Then we must add that module to imports array of app.module file. By doing that, now angular will detect our forms and will
 AUTOMATICALLY create an object representation of those forms behind the scenes. But the form itself is not useful though.
 We need to register the inputs which are in form as controls to that angular form and we do this by adding 2 things in TD
 approach. First we need to add ngModel directive on inputs (we could use 2 way data binding too with that. But this is also
 enough to make angular aware of it and also there in the signup form, we don't need to use 2 way data binding). Also we need
 to give the inputs the name attribute . Now with these 2, we got the controls setup.
 Now to make that form submittable, first let's give the form, a local reference and set it to ngForm. By doing that,
 by using that local reference we can access the automatically created object of that form. So it would store that automatically
 created object of that form in that local reference. To get that local reference in .ts file too, we can bind the
 (ngSubmit) event a method and then pass that local reference to that method. Now in .ts file we can create that method and add
 an arg in () of that method to actually receive that local reference in .ts file which we passed in template file.
 So by saying onSubmit(f); in template of signup, we are passing the automatically created form by angular to .ts file .

 Remember: When you want to pass the local reference you must write the name of it without #.
 In values property of the automatically created form, we get the values that user inputted into the inputs of form.

13. Implementing Hints and Validation Errors (on Forms):

-->


<!-- 4. Customising an Angular Material Theme:
First create a file next to the styles.scss file , which that new file is my-theme.scss and in this new file we need to add
@import '~@angular/material/theming'; to that scss file. Then add @include mat-core(); to that file too.
By adding that, a lot of sass variables and ... would be avialable for us.
Now we need to define our colors and themes. So add:
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$candy-app-theme:   mat-light-theme((
  color: (
    primary: $candy-app-primary,
    accent: $candy-app-accent,
  )
));
to that .scss file.

The variable names in the above code like $candy-app-primary is up to you.
A100 and ... are shades for lighter and darker versions. Because those colors with other shades will be picked up by angular
material for , for example for hovering efects and ... . If you don't define those shades, all of the effects will just
take the default color.
mat-palette() function is provided by theming package.
So now the 3 colors are set up.

To angular-material-theme() function, you pass the theme you created and stored from the result of mat-light-theme() . Now
we must go to styles.scss and comment the @import expression. Because we don't want 2 themes fighting with each other.
This means we are now using our custom theme which is the my-theme.scss instead of that theme which with that @import in
styles.scss we were loading. So now we need to go to angular.json and in styles array you need to include the new scss file
for custom theme you created.
Now you must quit ng serve and re run it again. That command will build our project and also the new .scss file.
Important: So when you make some changes to angular.json you should restart the ng serve or ... .

Now we need to add:
@include angular-material-theme($candy-app-theme);

-->

<router-outlet></router-outlet>
